body{
    
    background-color: rgb(36, 220, 240);
}
.container{
    margin-top:10px
}
.heading{
    text-align: center;
    font-size: 3em;
    
}

.form{
    
    margin:auto;
    width: 80%;
   
    
    
}

.titlePage{
    padding: 10px;
    text-align: center;
}

.Card{
    margin-top: 25px;
    margin-left: 46%;
    margin-right: 46%;
    margin-bottom: 20px;
    text-align: center;

}

/* input[type="text"]{
    width: 200px;
}
input[type="integer"]{
    width: 200px;
} */